.box {
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    position: fixed;
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes transform {
    /* 100% {transform: scaleX(2) scaleY(0.5);} */
    /* 100% {transform: scaleX(2) scaleY(4);} */
    /* 100% {transform: scale(2, 4);} */
    /* 100% { transform: translateY(-50px); } */
    /* 100% { transform: translate(50%, 25%); } */
    /* 100% { transform: translateX(50%) translateY(25%); } */
    /* 100% { transform: rotate(-90deg); } */
    /* 100% { transform: rotate(180deg); } */
    /* 100% { transform: skewY(50deg); } */
    100% { transform: scaleX(0.5) scaleY(0.5) rotate(-45deg) translateX(50px); }
}